// Descriptive Colors
$white: #ffffff;
$black: #333333;
$gray: #EFEFEF;
$dark-gray: #EAEEF4;
$light-green: #6BEFA3;
$color-dark-green: #5AAD7D;
$color-purple: #8666EF;
$color-pink: #DD7AC6;
$color-orange: #FFAB64;
$color-brown: #BFAF83;

// Functional Colors
$color-bg: $gray;
